<div style="height: 100% "  layout="column" flex ng-controller="BiosignalsController">
            <div ng-cloak>
                <md-tabs md-dynamic-height md-border-bottom>

                    <!-- 1st Tab-->
                    <md-tab label="History Charts" md-on-select="HistoryChart.functions.getData()" >
                        <div layout="row">
                            <nvd3   class="show  Nothide with-3d-shadow with-transitions"  options='HistoryChart.chart.options' api='HistoryChart.chart.api' events="HistoryChart.chart.event" data='HistoryChart.chart.data' ></nvd3>

                            <div layout="column">
                                <div style=" margin-top:30%; margin-left:15% ;padding: 10px">
                                    <md-input-container>
                                        <label>Select Range</label>
                                        <md-select placeholder="Select Range" ng-init="range = 24 " md-on-close="HistoryChart.functions.askDB()"  ng-model="HistoryChart.range"  style="min-width: 200px;">
                                            <md-option ng-value =24>24Hours</md-option>
                                            <md-option ng-value=3*24>Last 3 Days</md-option>
                                            <md-option ng-value=7*24>Last Week</md-option>
                                            <md-option ng-value=30*24>Last Month</md-option>
                                            <md-option ng-value="All">All</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div  layout='column' style="width:250px">

                                    <div layout-margin  class='  Nothide' style=" height: 30%; border-radius: 15px; padding-left: 30px ; width:250px;" md-whiteframe="2" ng-show="HistoryChart.ChartSelect ==='Heart' && HistoryChart.flag === true">
                                        <small>Date of measurement :</small> {{HistoryChart.measurement.date}}<br>
                                        <small>Heart Rate(bpm) : </small> {{HistoryChart.measurement.value}}<br>
                                        <input type="number" placeholder=" Update Value " ng-model="HistoryChart.newValue"><br>
                                        <md-button class='md-primary md-raised' ng-disabled='HistoryChart.newValue === null ' ng-click="HistoryChart.functions.updateHeart()">Update </md-button>
                                        <md-button ng-click='HistoryChart.functions.deleteHeart()' class='md-warn md-raised'">Delete
                                    </div>

                                    <div layout-margin  ng-show=' HistoryChart.flag === true && HistoryChart.ChartSelect === "Blood"' class='Nothide' style=" height: 30%; border-radius: 15px; padding-left: 30px ; width:250px;" md-whiteframe="2">
                                        <small>Date of measurement :</small> {{HistoryChart.measurement.date}}<br>
                                        <small>Blood Saturation (SPO2) : </small> {{HistoryChart.measurement.value}}<br>
                                        <input type="number" placeholder=" Update Value " ng-model="HistoryChart.newValue"><br>
                                        <md-button class='md-primary md-raised' ng-disabled='HistoryChart.newValue === null' ng-click="HistoryChart.functions.updateBloodSaturation()">Update </md-button>
                                        <md-button ng-click='HistoryChart.functions.deleteBloodSaturation()' class='md-warn md-raised'">Delete
                                    </div>

                                </div>

                            </div>
                        </div>
                    </md-tab>

                    <!-- 2nd Tab-->
                    <md-tab label="Sensor" >
                        <div style="height: 100%" layout="row">
                        <div class="RealTimeChart">
                            <nvd3 config='sensor.Chart.config' options='sensor.Chart.options' api='sensor.Chart.api' events="sensor.Chart.event" data='sensor.Chart.data' ></nvd3>
                        </div>
                            <div ng-show='sensor.Text.show === true' md-whiteframe="2" style=" margin: 4px;width : 22%; height:15%;">
                                <div style=" border:black 1px;  margin: 4px;"><small>{{sensor.Text.area}}</small></div>
                            </div>
                        </div>
                    </md-tab>

                    <!-- 3rd Tab -> I think it is done -->
                    <md-tab label="Add Measurement">
                        <div  layout="row"   layout-margin>
                            <div>
                                <md-radio-group ng-init="NewValue.selectedCategory='HeartRate'" ng-model="NewValue.selectedCategory" >
                                    <h2>Select Category</h2>
                                    <md-radio-button value="HeartRate"  class="md-primary">Heart Rate</md-radio-button>
                                    <md-radio-button value="bloodSaturation"  class="md-primary">Blood Saturation</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div flex>

                                <div class='NewValue' ng-show="NewValue.selectedCategory === 'HeartRate'" md-whiteframe="2"  layout-margin>
                                    <div layout="row">
                                        <h3 flex>Heart Rate </h3>
                                        <div >
                                            <md-radio-group  ng-init="NewValue.TimeDateType='Automatic'" ng-model="NewValue.TimeDateType" >
                                                <md-radio-button value="Automatic"   class="md-primary">Now</md-radio-button>
                                                <md-radio-button value="Manual"  class="md-primary">Select Date and Time</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                        <div layout="row" >
                                            <div>
                                                <label style="padding: 2px; margin:2px">Heart Rate</label><br>
                                                    <input style="padding: 2px; margin:2px" type='number' ng-model="NewValue.heartRate" placeholder="Enter New Value" ><br>
                                                <div ng-show="NewValue.TimeDateType === 'Automatic'" >
                                                    <md-button  style="margin-left:2px;margin-top: 30px" ng-click="NewValue.InsertHeartRate('auto')" ng-disabled="!NewValue.checkNumber(NewValue.heartRate)" class='md-primary md-raised'">Save
                                                </div>
                                                <div  ng-show="NewValue.TimeDateType === 'Manual'">
                                                    <md-button style="margin-left:2px;margin-top: 30px" ng-click="NewValue.InsertHeartRate('manual')" ng-disabled="!NewValue.checkNumber(NewValue.heartRate) || NewValue.DateHeartRate==='' || NewValue.timeTakenHeartRate==='' "  class='md-primary md-raised'">Save
                                                </div>

                                            </div>
                                            <div  flex-offset="15"  ng-show="NewValue.TimeDateType==='Manual'">
                                                <label style="padding: 2px; margin:2px" >Insert Date</label><br>
                                                    <input style="padding: 2px; margin:2px" type="date" ng-model="NewValue.DateHeartRate" ><br>
                                                <label style="padding: 2px; margin:2px">Time taken </label><br>
                                                    <input style="padding: 2px; margin:2px"  type="time" ng-model="NewValue.timeTakenHeartRate" placeholder="Insert Time" ><br>
                                            </div>
                                        </div>

                                </div>

                                <div class='NewValue' ng-show="NewValue.selectedCategory === 'bloodSaturation'" md-whiteframe="2"  layout-margin>
                                    <div layout="row">
                                        <h3 flex>Blood Saturation </h3>
                                        <div >
                                            <md-radio-group  ng-init="NewValue.TimeDateTypeBlood='Automatic'" ng-model="NewValue.TimeDateTypeBlood" >
                                                <md-radio-button value="Automatic"   class="md-primary">Now</md-radio-button>
                                                <md-radio-button value="Manual"  class="md-primary">Select Date and Time</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div layout="row" >
                                        <div>
                                            <label style="padding: 2px; margin:2px">Blood Saturation</label><br>
                                            <input style="padding: 2px; margin:2px" type='number' ng-model="NewValue.bloodSaturation" placeholder="Enter New Value" ><br>
                                            <div ng-show="NewValue.TimeDateTypeBlood === 'Automatic'" >
                                                <md-button  style="margin-left:2px;margin-top: 30px" ng-click="NewValue.InsertOxygenSaturation('auto')" ng-disabled="!NewValue.checkNumber(NewValue.bloodSaturation)" class='md-primary md-raised'">Save
                                            </div>
                                            <div  ng-show="NewValue.TimeDateTypeBlood === 'Manual'">
                                                <md-button style="margin-left:2px;margin-top: 30px" ng-click="NewValue.InsertOxygenSaturation('manual')" ng-disabled="!NewValue.checkNumber(NewValue.bloodSaturation) || NewValue.DateBloodSaturation==='' || NewValue.timeTakenBloodSaturation==='' "  class='md-primary md-raised'">Save
                                            </div>

                                        </div>
                                        <div  flex-offset="15"  ng-show="NewValue.TimeDateTypeBlood==='Manual'">
                                            <label style="padding: 2px; margin:2px" >Insert Date</label><br>
                                            <input style="padding: 2px; margin:2px" type="date" ng-model="NewValue.DateBloodSaturation" ><br>
                                            <label style="padding: 2px; margin:2px">Time taken </label><br>
                                            <input style="padding: 2px; margin:2px"  type="time" ng-model="NewValue.timeTakenBloodSaturation" placeholder="Insert Time" ><br>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </md-tab>
                </md-tabs>
            </div>
    </div>

