<div ng-cloak ng-show="ready === true" style="height: 100%">


    <!--User uses Online Services for the first time-->

    <div  class="md-whiteframe-11dp"  ng-show=" UserInformation.FirstTimeOnline===true"  layout-margin layout="column" style="margin: 10% ;height: 300px ;width: 700px" >

        <!--Title-->
        <h1 flex-offset="10">Subscribe to OpenHealth</h1>


        <!--Subscribe Form -> Username,Password,email -->

        <form name="SubsrcibeForm">
            <div layout-margin>
                <md-input-container >
                    <input name='Username' ng-model="UserInformation.username" required  placeholder="Pick a username">
                    <div ng-messages="SubscribeForm.Username.$error" >
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input name='Password' type="password" ng-model="UserInformation.password" required placeholder="Password">
                    <div ng-messages="SubscribeForm.Password.$error" >
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <h4>*In order to use Opeanhealth's Online Service you have to subsribe</h4>
            </div>

            <!--Hit button subscribe -->

            <div layout-margin  >
                <md-button   style="margin-left: 85%; margin-top: 5%" ng-click="UserInformation.SendRequest()" flex-offset="50" md-no-ink class="md-raised  md-primary"  >Subscribe</md-button>
            </div>

        </form>
    </div>

        <!--View after user is subscribed to the Service-->
        <div  id="MainPage" style="height: 100%;" layout="row" flex ng-show=" UserInformation.FirstTimeOnline===false && UserOnline.Online === true">

            <!--Online Friends and their State-->
            <div id="OnlineFriends" flex="20" layout="column" class="md-whiteframe-5dp">
                <h3 flex-offset="20" > friends</h3>
                <md-divider  ng-if="!$last"></md-divider>
                <md-list  layout="column">
                    <md-list-item style="float:left;" class='md-primary' ng-repeat="temp in UserOnline.friends" ng-click="functions.SelectedUser(temp.username)"  ng-class="UserOnline.Selected === temp.username ? 'Selected':''" flex  md-no-ink>
                        <div style='left: 0;width:60px' class="md-list-item-text" layout="row" layout-align="space-around center">
                            <span ng-if="temp.unread !==0">{{temp.unread}}</span>
                            <i class=" md-fab material-icons">perm_identity</i>
                            <span>{{temp.username}}</span>
                        </div>
                        <div  flex-offset="50" ng-class="temp.state=='active'?'Online':'Offline'"></div>
                        <!--<span flex-offset="50" ng-if="temp.state=='inactive' "></span>-->
                        <!--<span flex-offset="50" ng-if="temp.state=='active'"><i class="material-icons">cloud_done</i></span>-->
                    </md-list-item>
                </md-list>
            </div>

            <!--Information about a Particular User -->

            <div id="UserInfo " flex md-whiteframe="2" layout="column"   ng-show="UserOnline.Selected!=''">
                <div class="Diagrams" flex></div>
                <div class='UserOptions' flex="15"  layout-margin  layout="row" >
                    <div  layout="row">
                        <md-button ng-click="videoInfo.call(UserOnline.Selected)" md-no-ink  layout-margin class=" md-fab md-accent md-raised btnInfo">
                            <p><i  class="material-icons">call</i></p>
                        </md-button>

                    </div>
                    <div flex></div>
                    <div layout="row" layout-margin >
                        <md-button  md-no-ink layout-margin ng-click='delete()' class="md-accent  md-raised btnInfo md-fab" ><p><i class="material-icons"  >delete_forever</i></p></md-button>
                    </div>
                </div>
            </div>
            <!--Chat with a user -->

            <div id=Chat flex="30" layout="column" ng-controller="ChatController" ng-show="UserOnline.Selected!=''">
                <md-toolbar style="margin: 1%" md-whiteframe="3"  >
                    <h3  flex-offset="20"> {{UserOnline.Selected}}</h3>
                </md-toolbar>
                <div id="mydiv" style="overflow:auto" flex>
                    <md-list>
                        <md-list-item flex ng-repeat="message in messages.arrayofMessages  track by $index"  ng-mouseleave="messages.mouseLeave(message.uuid)"   ng-mouseenter="messages.mouseEnter(message.uuid)" ng-click="Dialog.showConfirm(message.uuid)">
                                      <!--ng-click="messages.show(message.uuid)">-->
                            <div class=" md-accent md-list-item-text" layout="column" ng-show="message.direction === 'me' " >
                                <h1  class="md-subhead">Me:<br><em>{{message.message}}</em></h1>
                            </div>
                            <div class=" md-list-item-text"  flex-offset="100" layout="row" ng-show="message.direction !== 'me' " >
                                <h3  class="md-subhead">{{UserOnline.Selected}}:<br><em>{{message.message}}</em></h3>
                            </div>
                            <md-divider ></md-divider>
                        </md-list-item>
                    </md-list >
                </div>
                <div layout="row">
                    <input placeholder="  Insert your message" flex id="TextBoxId" ng-model='messages.currentMessage' style="margin: 2%">
                    <md-button  ng-show=""  style="width:15px ;margin: 5%;height:25px" id='linkadd' class="md-primary md-raised" ng-click='messages.addText(UserOnline.Selected)'>Send</md-button>
                </div>

            </div>
        </div>


        <div ng-show=" UserInformation.FirstTimeOnline===false && UserOnline.Online === false"  class="NewNotification"  flex=50 style="height:40%;width:650px;margin:50px"  md-whiteframe="4" >
                <div layout="column" layout-align="center center" >
                    <h3 >Login</h3>

                </div>
                <md-divider></md-divider>
                <div style="margin: 5%"  layout="row">
                    <h4 style="margin: 5%" flex>If you want to connect press Login</h4>
                    <md-button ng-click='functions.ManualLogin()' style="margin: 5%" md-no-ink class="md-primary md-raised">Login</md-button>
                </div>
            </div>

     </div>

</div>

