
<!-- Page Content -->
<div class="container">

    <div ng-controller="addController">
        <div class=class="col-lg-6">
            <div class="form-group row">

                <h1>Add new friends </h1>
                <table class="table table-hover"></table>
                <div class="col-lg-6">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" id="example-search-input"
                           ng-model="friend.username">
                </div>
                <button ng-disabled="!friend.username" type="submit" ng-click="friend.sendRequest()"
                        class="btn btn-primary">Send Friend Request
                </button>
                <div class="col-lg-3" ng-show="friend.requestResult">
                    <p></p>
                    <div class="alert alert-info" role="alert">
                        <strong>{{friend.requestResult}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>