<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation"
     ng-controller="Bar-controller">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#index">OpenHealth Online</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#show">Requests</a>
                </li>
                <li>

                    <a href="#add">Friends</a>
                </li>
                <li>
                    <a href='' ng-href="#logout" ng-click="go.check()">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div ng-controller="addController">
        <div class=class="col-lg-6">
            <div class="form-group row">

                <h1>Add new friends </h1>
                <table class="table table-hover"></table>
                <div class="col-lg-6">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" id="example-search-input"
                           ng-model="friend.username">
                </div>
                <button ng-disabled="!friend.username" type="submit" ng-click="friend.sendRequest()"
                        class="btn btn-primary">Send Friend Request
                </button>
                <div class="col-lg-3" ng-show="friend.requestResult">
                    <p></p>
                    <div class="alert alert-info" role="alert">
                        <strong>{{friend.requestResult}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>