.Selected{
   background-color: lightblue;
}

.NewValue{
   padding: 15px;
   margin: 15px;
}

.nv-bars rect {
   width: 15px;
}
.Sensor-State{
   border: 1px black;
   height:60px;
   width: 100px;
}