<md-dialog aria-label="Notification">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Reminder</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <h2>Hey man !</h2>
        <h2>{{$scope.ActiveNotification}}</h2>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('Ok')" >
                Ok
            </md-button>
            <md-button ng-click="answer('Remind me Later')" style="margin-right:20px;" >
              Remind me Later
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>