<div style="height:100% "  layout="row" >


                <div class="NewNotification"  flex=50 style="height:70%;width:600px;margin:25px ;margin-top:40px;" md-whiteframe="4">
                    <div layout="row" layout-align="center center" >
                        <h3 >New Notification</h3>
                        <i class="material-icons">add_alert</i>
                    </div>
                    <md-divider></md-divider>
                    <form name="NotificationForm" style="margin-top: 10px" layout="column">
                        <md-input-container flex-offset="10" >
                            <label>Description</label>
                            <input  required ng-model="newNotification.description" name="description"style="width: 300px" >
                            <div ng-messages="NotificationForm.description.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex-offset="10" >
                            <label>Enter Day </label>
                            <input required ng-model="newNotification.date" name="date" type="date" style="width: 300px" >
                            <div ng-messages="NotificationForm.date.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex-offset="10" >
                            <label  required>EnterTime</label>
                            <input required    ng-model="newNotification.time" name="time" type="time" style="width: 300px">
                            <div ng-messages="NotificationForm.time.$error">
                                <div ng-message="required">This is required.</div>
                            </div>

                        </md-input-container>
                        <md-button type="submit" flex-offset="80" ng-click="newNotification.addNotification(newNotification.description,newNotification.date,newNotification.time)"md-no-ink class="md-primary"><i class="material-icons">check</i></md-button>
                    </form>

                </div>

                <div class="ToDo" flex  style="height:500px;width:700px; margin:15px; margin-top:40px;" md-whiteframe="4">
                    <h3 flex-offset="30">Notifications</h3>
                    <md-divider></md-divider>
                    <md-list flex>
                        <md-list-item   ng-if ='notifications.notifications.length === 0 '> <h3 flex-offset="10">No Active notifications</h3></md-list-item>
                        <md-list-item class="md-2-line" ng-repeat="ntf in notifications.notifications"  layout-margin>
                            <i class="material-icons">send</i>
                            <div class="md-list-item-text" layout="column">
                                <h4>Description :  {{ntf.description}}</h4>
                                <h4>Date: {{ntf.date}}</h4><i ng-if="ntf.reminder === true" class="material-icons">replay_10</i>

                                <md-divider md-inset></md-divider>
                            </div>

                        </md-list-item>
                    </md-list>
                </div>



</div>