<div  layout="column" style="height:100%; width: 100%;">

    <!--ToolBar of mainPage ToolbarController is Responsible-->
    <md-toolbar class="md-whiteframe-9dp"  ng-controller="ToolbarController" layout-align="space-around center">
        <div class="md-toolbar-tools" layout-margin layout="row">
            <i flex-offset="15" class="material-icons">favorite_border</i>
            <div  flex="20">
                <p   flex="100" class="md-display-1">OpenHealth</p>
            </div>

                <input  class="input2 md-whiteframe-2dp"  placeholder="  Search for Friends" ng-model='RequestsSent.target' flex="35">
            <md-button id='add' ng-click="RequestsSent.sendRequest()" class="md-raised md-primary" >add</md-button>

            <!--Requests Management -->
            <div layout="row" flex="40" layout-margin>
                <md-menu>
                    <md-button  id='RequestInfo' ng-click="$mdMenu.open($event); removeClass();">  <i style='margin-top: 5px' class="material-icons">supervisor_account</i>Requests</md-button>
                    <md-menu-content width="4" layout="column">

                       <!--Friend Requests Received-->
                        <div layout-align="space-around" layout="row">
                            <i  style="margin-left: 5%"class="material-icons">accessibility</i>
                            <span style="margin:1% "flex-offset="50">New Requests</span>
                        </div>
                        <md-divider md-inset></md-divider>

                        <span ng-show='RequestsReceived.Received.length === 0' style="margin: 5%">You have no friend Requests</span>
                        <md-list>
                            <md-list-item ng-repeat="newRequest in RequestsReceived.Received">
                                <div layout="row" layout-margin layout-align="space-around">
                                    <strong>{{newRequest}}</strong>
                                    <md-button ng-click="RequestsReceived.accept(newRequest)" class="md-accent md-raised">Accept</md-button>
                                    <md-button ng-click="RequestsReceived.reject(newRequest)" class="md-accent md-raised ">Reject</md-button>
                                </div>
                            </md-list-item>
                        </md-list>

                        <!--Pending Friend Requests-->
                        <div layout-align="space-around" layout="row">
                            <i class="material-icons">accessibility</i>
                            <span style="margin:1% " flex-offset="50">Pending</span>
                        </div>
                        <md-divider md-inset></md-divider>
                        <span ng-show='RequestsSent.sent.length === 0' style="margin: 5%">No Requests Pending</span>
                        <md-list>
                            <md-list-item ng-repeat="pending in RequestsSent.sent">
                                <div layout-align="space-around" layout="row" layout-margin>
                                    <div style="margin-right: 10%"> {{pending}} </div>
                                    <md-button ng-click="RequestsSent.cancel(pending)" style='margin-left: 20%' class="md-accent md-raised">Cancel</md-button>
                                </div>

                            </md-list-item>
                        </md-list>
                    </md-menu-content>
                </md-menu>
            </div>

            <!--User's Account-->
            <div  layout="column">
                    <md-menu >
                        <md-button ng-click="$mdMenu.open($event)">  <i class="material-icons">account_circle</i>{{username}}</md-button>
                        <md-menu-content  width="3" >
                            <md-menu-item md-autofocus>
                                <md-button class="md-primary" md-no-ink md-autofocus layout="row">
                                    <i  class="material-icons">build</i>
                                    Settings
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click='logout.clean()' class="md-primary" md-no-ink md-autofocus>
                                    <i class="material-icons">power_settings_new</i>
                                    Logout
                                </md-button>

                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
            </div>
        </div>
    </md-toolbar>

    <!--Main Page MainPageController is Responsible *(Also ChatController)*-->
    <div  id="MainPage" layout="row" flex>

        <!--Online Friends and their State-->
        <div id="OnlineFriends" flex="20" layout="column" class="md-whiteframe-4dp">
            <h3 flex-offset="20" md-title > friends</h3>
            <md-divider  ng-if="!$last"></md-divider>
            <md-list  layout="column">
                <md-list-item style="float:left;" class='md-primary' ng-repeat="temp in mainPageInfo.friends" ng-click="SelectedUser(temp.username)"  ng-class="mainPageInfo.Selected === temp.username ? 'Selected':''" flex layout="row"  layout-align="space-around center" md-no-ink>
                    <div style='left: 0;width:70px' class="md-list-item-text" layout="row" layout-align="space-around center">
                        <span ng-if="temp.unread !==0">{{temp.unread}}</span>
                        <i class="material-icons">perm_identity</i>
                            <span>{{temp.username}}</span>
                    </div>
                    <div  flex-offset="50" ng-class="temp.state=='active'?'Online':''"></div>

                </md-list-item>

            </md-list>
        </div>

        <!--Information about a Particular User -->
        <div id="UserInfo " flex md-whiteframe="1" layout="column" ng-show="mainPageInfo.Selected!=''">

            <!--Here will the Charts will appear-->

            <div flex style="margin:20%" layout="column">

                <md-button   style="margin-left:95%;width: 30px" ng-click='Biosignals.clearArea(mainPageInfo.Selected)' ng-show="Biosignals.dataArrived === true" md-no-ink class=" md-icon-button ">&#x2715;</md-button>
                <nvd3   options='chart.options' api='chart.api' events="chart.event" data='chart.data' ></nvd3>

                <div style="padding: 20px" layout="row"  layout-align="space-around center">
                    <md-input-container ng-show="Biosignals.dataArrived === true">
                        <md-select  placeholder="Select Range" ng-init="Biosignals.range = 24 " md-on-close="Biosignals.refresh()"  ng-model="Biosignals.range"  style="min-width: 200px;">
                            <md-option ng-value=24>Last 24-Hours</md-option>
                            <md-option ng-value=3*24>Last 3 Days</md-option>
                            <md-option ng-value=7*24>Last Week</md-option>
                            <md-option ng-value=30*24>Last Month</md-option>
                            <md-option ng-value="All">All</md-option>
                        </md-select>
                    </md-input-container>

                </div>
            </div>

            <div class='UserOptions' flex="15"  layout-margin  layout="row" >
                <div  layout="row">
                    <md-button ng-click="videoInfo.call(mainPageInfo.Selected)" md-no-ink  layout-margin class=" md-fab md-accent md-raised btnInfo">
                        <p><i  class="material-icons">call</i></p>
                    </md-button>
                    <md-button ng-disabled="Biosignals.Requesting === true" md-no-ink ng-click="requestBiosignals(mainPageInfo.Selected)" layout-margin  class="md-fab md-accent md-raised btnInfo">
                        <p><i class="material-icons">equalizer</i></p>
                    </md-button>
                </div>
                <div flex></div>
                <div layout="row" layout-margin >
                    <md-button  md-no-ink layout-margin ng-click='delete()' class="md-accent  md-raised btnInfo md-fab" ><p><i class="material-icons"  >delete_forever</i></p></md-button>
                </div>
            </div>
        </div>

        <!--Chat with a user -->
        <div id=Chat flex="25" layout="column" ng-controller="ChatController" ng-show="mainPageInfo.Selected!=''">
            <md-toolbar style="margin: 1%" md-whiteframe="3"  >
                <h3  flex-offset="20"> {{mainPageInfo.Selected}}</h3>
            </md-toolbar>
            <div   style="overflow-x: auto;overflow-y: auto;"  flex id="mydiv">
                    <md-list>
                        <md-list-item flex ng-repeat="message in messages.arrayofMessages  track by $index"  ng-click="Dialog.showConfirm(message.uuid)">
                            <div class=" md-accent md-list-item-text" layout="column" ng-show="message.direction === 'me' " >
                                <h1  class="md-subhead">Me:<br><em>{{message.message}}</em></h1>
                            </div>
                            <div class=" md-list-item-text"  flex-offset="100" layout="row" ng-show="message.direction !== 'me' " >
                                <h3  class="md-subhead">{{mainPageInfo.Selected}}:<br><em>{{message.message}}</em></h3>
                            </div>
                            <md-divider ></md-divider>
                        </md-list-item>
                    </md-list>
            </div>
            <div layout="row">
             <input id="TextBoxId" flex ng-model='messages.currentMessage' placeholder="  Insert your message"  style="margin: 2%">
            <md-button id='linkadd' ng-show="" class="md-primary md-raised" ng-click='messages.addText(mainPageInfo.Selected)'>Hit me</md-button>
            </div>
        </div>
    </div>


</div>