<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href='css/main-page.css'/>
    <meta charset="utf-8">
    <!-- jQuerry -->
    <script src="js/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpenHealth Online</title>
    <!--Script to specify moving table-->
    <script>
        $(function () {
//            $("#draggable").draggable( "containment");
            $("#draggable").draggable({
                containment: "parent"
            });
            var containment =  $("#draggable").draggable( "option", "containment" );
            $("#draggable").draggable( "option", "containment", "parent" );
        });
    </script>
    <link rel="stylesheet" href="js/angular/angular-material/angular-material.min.css">

    <!--Angular Material icons Online Icon  and Text Library-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">


    <!--DEFINED ON HEADER OTHERWISE SITE GETS PRETTY UNGLY-->
    <!--AngularJS and Angular Material libraries locally -->

    <script src="js/angular/angular/angular.min.js"></script>
    <script src="js/angular/angular-animate/angular-animate.min.js"></script>
    <script src="js/angular/angular-aria/angular-aria.min.js"></script>
    <script src="js/angular/angular-material/angular-material.min.js"></script>

    <!--AngularJS and Angular Material libraries online  -->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>&ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>-->


    <!--Still haven't got these libraries downloaded-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>

    <!--Libraries for Charts (nvd3 module will be Used) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
    <script src="Libraries/nv.d3.js"></script>
    <!--<script src="../Biosignals/d3.js"></script>-->
    <script src="Libraries/angular-nvd3.js"></script>

    <link rel="stylesheet" href="Libraries/nv.d3.css">
    <script src=" https://code.highcharts.com/highcharts.js "></script>
    <!---->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>-->
    <!--<script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>-->


</head>



<body ng-app="Openhealth" ng-controller="Video-Controller" ng-cloak>

<!--Video floating div-->
<div md-whiteframe="15" id='draggable'    class="ui-widget-content"   ng-cloak ng-show="videoInfo.status === 'open' ">
       <div   class="flexChild" id="camera-container" layout="column"  >

           <div class="camera-box"   flex >
               <div id='RealTime' ng-show='RealTime.show === true' class="ui-widget-content ">
                   Heart Rate: {{RealTime.heart}}<br>
                   Blood Saturation:{{RealTime.blood}}<br>
                   <md-button  aria-label="Switch 2" id="close" flex-offset="60" ng-click="RealTime.hide()" md-no-ink></md-button>
               </div>
            <video id="local_video"  autoplay muted></video>
            <video id="received_video" autoplay ></video>
        </div>
        <md-toolbar  style="height: 15px"  layout="row" layout-align="space around" >
            <md-button    ng-show='videoInfo.Type === "Outgoing"  &&  videoInfo.InCall === false ' ng-click="videoInfo.cancelCall()" layout-margin class=" md-raised md-primary"> Cancel </md-button>
            <md-button    ng-show='videoInfo.Type === "Closed"    &&  videoInfo.InCall === false ' ng-click="videoInfo.closeScreen()"   layout-margin class="md-raised md-primary">Close Screen</md-button>
            <md-button    ng-show='videoInfo.Type === "Incoming"  &&  videoInfo.InCall === false' ng-click="videoInfo.acceptCall()" layout-margin style='background-color: #4cae4c' class=" md-raised ">Accept </md-button>
            <md-button    ng-show='videoInfo.Type === "Incoming"  &&  videoInfo.InCall === false' ng-click="videoInfo.rejectCall()" layout-margin class="md-warn md-raised">Reject</md-button>
            <md-button    ng-show='videoInfo.InCall === true' ng-click="videoInfo.hangUp()" layout-margin class=" md-raised md-primary">Hang-up</md-button>
            <h1 class="md-title" >{{videoInfo.message}}</h1>
        </md-toolbar>

    </div>

</div>

<div id="myView"  ng-view  ></div>




<!--Controllers and Global Services -->
<script type="text/javascript" src="Angular-Material.js"></script>
<script type="text/javascript" src='js/main-page.js'></script>
<script type="text/javascript" src='WelcomePage/WelcomePageController.js'></script>
<script type="text/javascript" src='Shared/Shared.js'></script>
<script type="text/javascript" src='Authorized/AuthorizedController.js'></script>

<!--CSS file used to modify the screen-->


<!-- Bootstrap Core JavaScript -->
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src='js/bootstrap.min.js'></script>


</body>

</html>
