<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href='css/main-page.css'/>
    <!-- jQuerry -->
    <script src="js/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpenHealth Online</title>
    <!--Script to specify moving table-->
    <script>
        $(function () {
            $("#draggable").draggable({});
        });
    </script>
    <link rel="stylesheet" href="js/angular/angular-material/angular-material.min.css">

    <!--Angular Material icons Online Icon  and Text Library-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">


    <!--DEFINED ON HEADER OTHERWISE SITE GETS PRETTY UNGLY-->
    <!--AngularJS and Angular Material libraries locally -->

    <script src="js/angular/angular/angular.min.js"></script>
    <script src="js/angular/angular-animate/angular-animate.min.js"></script>
    <script src="js/angular/angular-aria/angular-aria.min.js"></script>
    <script src="js/angular/angular-material/angular-material.min.js"></script>

    <!--AngularJS and Angular Material libraries online  -->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>&ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>-->


    <!--Still haven't got these libraries downloaded-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>


</head>



<body ng-app="Openhealth" ng-controller="Video-Controller" ng-cloak>

<!--Video floating div-->
<div md-whiteframe="10" id='draggable'  class="ui-widget-content"  ng-cloak ng-show="videoInfo.status === 'open' ">
    <div   class="flexChild" id="camera-container" layout="column"  >
        <h1 >
            {{videoInfo.message}}
        </h1>
        <div class="camera-box"   flex >
            <video id="local_video" width="200" height="200" autoplay muted></video>
            <video id="received_video" autoplay ></video>
        </div>
        <md-toolbar class="md-accent" style="height: 15px"  layout="row" layout-align="center center" >
            <md-button    ng-show='videoInfo.Type === "Outgoing"  &&  videoInfo.InCall === false 'ng-click="videoInfo.cancelCall()" class="md-warn md-fab"><i class="material-icons">call_end</i></md-button>
            <md-button    ng-show='videoInfo.Type === "Closed"    &&  videoInfo.InCall === false 'ng-click="videoInfo.closeScreen()" class="md-warn md-fab"><i class="material-icons">clear</i></md-button>
            <md-button    ng-show='videoInfo.Type === "Incoming"  &&  videoInfo.InCall === false' ng-click="videoInfo.acceptCall()" style='background-color: #4cae4c' class="md-fab"><i class="material-icons">call</i></md-button>
            <md-button    ng-show='videoInfo.Type === "Incoming"  &&  videoInfo.InCall === false' ng-click="videoInfo.rejectCall()" class="md-warn md-fab"><i class="material-icons">call_end</i></md-button>
            <md-button    ng-show='videoInfo.InCall === true' ng-click="videoInfo.hangUp()" class=" md-fab"><i class="material-icons">phone</i></md-button>
        </md-toolbar>

    </div>
</div>

<div id="myView"  ng-view  ></div>




<!--Controllers and Global Services -->
<script type="text/javascript" src="Angular-Material.js"></script>
<script type="text/javascript" src='js/main-page.js'></script>
<script type="text/javascript" src='WelcomePage/WelcomePageController.js'></script>
<script type="text/javascript" src='Shared/Shared.js'></script>
<script type="text/javascript" src='Authorized/AuthorizedController.js'></script>

<!--CSS file used to modify the screen-->


<!-- Bootstrap Core JavaScript -->
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src='js/bootstrap.min.js'></script>


</body>

</html>
