<div  layout="column" style="height:100% ">
    <md-toolbar class="md-whiteframe-11dp"  color="primary" layout="row" layout-align="space-around center">
    <div class="md-toolbar-tools" layout-margin>
    <i flex-offset="15" class="material-icons">favorite_border</i>
    <div  flex="50">
    <p   flex="100" class="md-display-1">OpenHealth</p>
    </div>

    <div layout="column">
    <div id="toolbarInput"  layout="row"  flex="40">
    <div layout="column" layout-margin>
        <p  style="height:4px;" flex="15" >Username</p>
        <input class="input1"   ng-model='login.username' flex="35" type="text" >
    </div>

    <div layout="column" layout-margin >
        <p  style="height:4px; width:50px" flex="15">Password</p>
        <input class="input1"  flex="35" ng-model='login.password'  type="password">
    </div>
    </div>

    </div>
    <div>
    <md-button ng-click='login.SendRequest()' class="md-raised md-primary" style="height:40% ;margin-top:5px" md-no-ink  >Log in</md-button>
    </div>
    </div>
    </md-toolbar>
    <div flex="5"></div>
    <div flex-offset="10">
        <div  flex="50" layout-margin layout="column" class="md-whiteframe-11dp" >
        <h1 flex-offset="10">Subscribe to OpenHealth</h1>
        <div layout-margin>
            <md-input-container >
                <input ng-model="subscribe.username" required  placeholder="Pick a username">
                <div ng-message="required">This is required.</div>
            </md-input-container>
            <md-input-container>
                <input ng-model="subscribe.password" required placeholder="Password">
            </md-input-container>
        </div>
        <div layout-margin>
            <md-input-container>
                <input required style="width: 380px" placeholder="Enter your email">
                <div ng-messages="projectForm.clientName.$error"></div>
                <div ng-message="required">This is required.</div>
            </md-input-container>
        </div>
        <div layout-margin md-disable-backdrop="true">
             <md-button  ng-click="subscribe.SendRequest()" flex-offset="50" md-no-ink class="md-raised  md-primary"  >Subscribe</md-button>
        </div>
    </div>
    </div>
</div>